<!-- MAIN NAV -->
<header class="nav-wrapper">
    <nav class="main-nav">
        <div class="nav-left">
            <a href="{{ '/' | relative_url }}" class="nav-brand">
                <img src="{{ '/assets/images/logo-navbar.png' | relative_url }}" alt="NJB" class="logo" />
                <h1>NJ Boardgames</h1>
            </a>
        </div>
    </nav>
    <nav class="sub-nav">
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#featured">Featured</a></li>
            <li><a href="#connect">Connect</a></li>
        </ul>
    </nav>
</header>
