<div class="featured-event" id="linwoodLibrary">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Dominos & Board Games @ Linwood Public Library</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 301 Davis Ave, Linwood, NJ 08221</p>
			<p><strong>WHEN:</strong> THURSDAYS, WEEKLY 5:30PM-8:30PM</p>
			<p><strong>AUDIENCE:</strong> Adults(18+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/SJGamingLeague/events" aria-label="Events">South Jersey Board Gaming League</a>
			</p>
		</div>
		<p class="featured-event-description">
			Join us for a fun night of dominoes and board games. We meet in the Senior Meeting Room (door is on the left of the building, past the bike racks)
		</p>
	</div>
</div>

<div class="featured-event" id="seaviewBaptistChurch">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ Seaview Baptist Church</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 2025 Shore Rd, Linwood, NJ 08221</p>
			<p><strong>WHEN:</strong> 1st FRIDAY, MONTHLY 6:00PM-10:30PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/SJGamingLeague" aria-label="Events">South Jersey Board Gaming League</a>
			</p>
		</div>
		<p class="featured-event-description">
			Come join us for the monthly SJBGL Game Night! We have games or bring your own - all are welcome! We normally play games until 10:30-ish, so that we can clean up and lock up by 11. There are usually between 10 - 20 gamers in attendance with 3 or 4 games being played simultaneously at different tables. A few of the regulars normally being a couple of snacks, but there are many restaurants nearby if you’re needing real food.		</p>
	</div>
</div>

<div class="featured-event" id="gardenStateBrewery">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Game Night @ Garden State Brewery</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 247 E White Horse Pike, Galloway, NJ 08205</p>
			<p><strong>WHEN:</strong> Every other TUESDAY 5:00PM-9:00PM</p>
			<p><strong>AUDIENCE:</strong> Adults(18+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://discord.gg/GbDeKuCdr" aria-label="Events">South Jersey Board Game Time (Discord)</a>
			</p>
		</div>
		<p class="featured-event-description">
			We are just a group of people who play all kinds of board games.
			We always like to try new board games, but we have regular games we play like Wingspan, Quacks, Everdell, Flip 7, Splendor and more!
			If there are a bunch of us we break up into groups, if there aren't as many we try to find games that works for everyone!
			Bring your own board games, or enjoy the board games some of the other board gamers bring.
			If you don't use Discord, we usually post updates about our event on <a href="https://www.facebook.com/groups/SJGamingLeague" aria-label="Events">South Jersey Board Gaming League's</a> Facebook page.
			Hope to see you there!
	</div>
</div>
