<div class="featured-event" id="funAndGames">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Afternoon Board Games @ Crowne Plaza Hotel</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 50 Kenny Pl, Saddle Brook, NJ 07663</p>
			<p><strong>WHEN:</strong> Sundays 2:30PM-5:30PM</p>
			<p><strong>AUDIENCE:</strong> Adults(18+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/fun-and-games-meetup-tenafly-northern-new-jersey-nj/" aria-label="Events">Fun & Games MeetUp</a>
			</p>
		</div>
		<p class="featured-event-description">
			We like to start the first game by 2.45 and depending on the group size we’ll have multiple games. The event hosts will bring games but you are welcom to bring your favorite board games too!  There’s parking on all sides of the building. Where we play in the hotel depends on the space given to us by the hotel event staff. We, usually, play on the 12th floor of the hotel at their Sky Restaurant & Bar BUT sometimes we are on the 2nd floor. When in doubt, stay in the lobby and wait for the event host to comment where exactly we are playing. Please RSVP by each Sunday afternoon (and/or have it updated since it helps us with the tables and picking the right games). 
		</p>
	</div>
</div>