<div class="featured-event" id="crownePlaza">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Afternoon Board Games @ Crowne Plaza Hotel</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 50 Kenny Pl, Saddle Brook, NJ 07663</p>
			<p><strong>WHEN:</strong> Sundays 2:30PM-5:30PM</p>
			<p><strong>AUDIENCE:</strong> Adults(18+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/fun-and-games-meetup-tenafly-northern-new-jersey-nj/" aria-label="Events">Fun & Games MeetUp</a>
			</p>
		</div>
		<p class="featured-event-description">
			We like to start the first game by 2.45 and depending on the group size we’ll have multiple games. The event hosts will bring games but you are welcom to bring your favorite board games too!  There’s parking on all sides of the building. Where we play in the hotel depends on the space given to us by the hotel event staff. We, usually, play on the 12th floor of the hotel at their Sky Restaurant & Bar BUT sometimes we are on the 2nd floor. When in doubt, stay in the lobby and wait for the event host to comment where exactly we are playing. Please RSVP by each Sunday afternoon (and/or have it updated since it helps us with the tables and picking the right games). 
		</p>
	</div>
</div>

<div class="featured-event" id="bellaPizza">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board & Card Games @ Bella Pizza</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 197 Boulevard, Hasbrouck Heights, NJ 07604</p>
			<p><strong>WHEN:</strong> Tuesdays 6:00PM-9:00PM, Sundays 12:00PM-5:00PM</p>
			<p><strong>AUDIENCE:</strong> Adults(18+) unless parent present</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/northjerseygeeksandnerds/" aria-label="Events">North Jersey Geeks & Nerds</a>
			</p>
		</div>
		<p class="featured-event-description">
			Come out for fun games, good people, and great food! We're located at Bella Pizza on Boulevard in Hasbrouck Heights. We use the tables on the left hand side right after you get through the door. We play everything, including games like Skyjo, Five Crowns, Cover Your Assets, Ticket to Ride, and more. We welcome people of all experience levels and all ages. There is always someone willing to teach and always plenty of games to play. We can even offer food suggestions since, at this point, we've had most everything on the menu. If you have a new game you've been meaning to try out, a social game that will leave everyone in stitches, a cerebral game where only the most crafty will survive, or just an old favorite you want to share with the group, please bring it out, we can easily make time. We look forward to having you join our little slice of heaven!
		</p>
	</div>
</div>