<div class="featured-event" id="guildHall">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ The Guild Hall</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 400 NJ-38 #1360, Moorestown, NJ 08057</p>
			<p><strong>WHEN:</strong> Sundays 12:00PM-6:00PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/boardgames-601/events/313175724/" aria-label="Events">Voorhees Boardgames Meetup Group</a>
			</p>
		</div>
		<p class="featured-event-description">
			Come play Board Games at The Guild Hall Hobby in the Moorestown Mall. All games in their extensive library of over 600 games are FREE to play on Sundays.
			You are also welcome to bring your own games to play. The Guild Hall Hobby website has a list of most of the games in their library,
			but sometimes new release games may be available to play that haven't been added to the list yet.
			If you haven't been here in a while note that they have moved from their previous location and are now directly across from the food court,
			where FYE used to be. If you enter the mall via the food court just keep walking straight into the main section of the mall and they are straight ahead,
			just down from where they they used to be.
			It is very helpful if you RSVP if you plan to come as this event may be canceled if no one other than the organizer signs up for it.
		</p>
	</div>
</div>

<div class="featured-event" id="wargamersGuild">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ The Wargamers Guild</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 59 US-130, Bordentown, NJ 08620</p>
			<p><strong>WHEN:</strong> Thursdays 6:30PM-10:00PM</p>
			<p><strong>AUDIENCE:</strong> Teen, Adult</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.thewargamersguild.com/events" aria-label="Events">The Wargamers Guild</a>
			</p>
		</div>
		<p class="featured-event-description">
			Come hang out with us tonight whether you're hobbying or playing board games! Free to play, free to hobby.
			Open to any age, but mostly teen - adult due to the complexity of games.
		</p>
	</div>
</div>
