<div class="featured-event" id="hooked">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Weekly Games @ Hooked</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 411 N Haddon Ave, Haddonfield, NJ 08033</p>
			<p><strong>WHEN:</strong> Thursday Evenings, weekly</p>
			<p><strong>AUDIENCE:</strong> Teen, Adult</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/jaysbasement" aria-label="Events">Jay's Basement</a>
			</p>
		</div>
		<p class="featured-event-description">
			Parking is free after 6 and you can park in bank parking lot.
			You can bring games and any food/drinks you like.
			We usually have about 3-4 tables in play so something for everyone! Reach out with any questions.
		</p>
	</div>
</div>
