<div class="featured-event" id="firstPresbytarian">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Game Night @ First Presbyterian</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 411 N Haddon Ave, Haddonfield, NJ 08033</p>
			<p><strong>WHEN:</strong> 1st SATURDAYS, MONTHLY 6:00PM-10:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly (13+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/gamersofthecherryhillarea/events" aria-label="Events">Gamers of the Cherry Hill Area (GOTCHA)</a>
			</p>
		</div>
		<p class="featured-event-description">
			Whether you're new to board games or a veteran, all are welcome.
			Kids, families, adults, seniors. Everyone has a place at the table.
			We will host in our Hearth Room in a temperature controlled room.
			If we need a bigger space we have a large gym to host and a few rooms near by, should they become needed.
			In the event we are not able to use the Hearth Room, we will be on the top floor.
			Please use the back entrance connected to the church parking lot.
			The church's front doors will not be open. Do not let the stairs scare you, this event is handicap accessible.
			We have an elevator that can get you to where the event is being held.
			The church is allowing us to use this space for free. There will be no evangelism at the event.
			If you have any issues or concerns, Amanda is always available to speak with.
			Everyone is welcome. No alcohol is permitted on site. Anyone under 16 requires adult supervision.
			Foul language may be used by members and some games have themes that may not be suitable for children.
			Seating at some events are limited, so please RSVP in advance and if your plans change then change your rsvp.
		</p>
	</div>
</div>

<div class="featured-event" id="hooked">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Weekly Games @ Hooked</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 411 N Haddon Ave, Haddonfield, NJ 08033</p>
			<p><strong>WHEN:</strong> THURSDAY EVENINGS, WEEKLY</p>
			<p><strong>AUDIENCE:</strong> Teen, Adult</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/jaysbasement" aria-label="Events">Jay's Basement</a>
			</p>
		</div>
		<p class="featured-event-description">
			Parking is free after 6 and you can park in bank parking lot.
			You can bring games and any food/drinks you like.
			We usually have about 3-4 tables in play so something for everyone! Reach out with any questions.
		</p>
	</div>
</div>

<div class="featured-event" id="cultivate">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Family Game Night @ Cultivate Church</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 2303 E Evesham Rd, Voorhees Township, NJ 08043</p>
			<p><strong>WHEN:</strong> 3rd SATURDAYS, MONTHLY 6:00PM-9:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly (13+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/gamersofthecherryhillarea/events" aria-label="Events">Gamers of the Cherry Hill Area (GOTCHA)</a>
			</p>
		</div>
		<p class="featured-event-description">
			Join us on the third Saturday of each month for an evening of games & friendship. Bring a game or two or your favorite snack—or just come and see what the othets brought. Anyone under 16 requires adult supervision. Foul language may be used by members and some games have themes that may not be suitable for children. Seating at some events are limited, so please RSVP in advance and if your plans change then change your rsvp.
		</p>
	</div>
</div>