<div class="featured-event" id="townPub">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ Town Pub</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 378 Broad St, Bloomfield, NJ, 07003</p>
			<p><strong>WHEN:</strong> Thursday Evenings, ~twice a month</p>
			<p><strong>AUDIENCE:</strong> Adults(21+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/316729955389976" aria-label="Events">Montclair Area Board Gamers</a>
			</p>
		</div>
		<p class="featured-event-description">
			We host biweekly-ish meetups typically at Town Pub of Bloomfield or Verona Cafe. We play a mix of light to heavy games. We teach all games, and typically our regulars bring enough games so there is always a great selection. We play a mix of light filler games for newcomers/casual crowds (Ticket to Ride, Scout, Flip 7, For Sale) and mid-heavy games (Heat, Dune Imperium, El Grande) depending on interest and familiarity. No experience or need to bring games - we teach and bring enough to choose from!
		</p>
	</div>
</div>

<div class="featured-event" id="veronaInn">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ Verona Inn</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 624 Bloomfield Ave, Verona, NJ 07044</p>
			<p><strong>WHEN:</strong> When Town Pub is not available</p>
			<p><strong>AUDIENCE:</strong> Adults(21+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/316729955389976" aria-label="Events">Montclair Area Board Gamers</a>
			</p>
		</div>
		<p class="featured-event-description">
			We host biweekly-ish meetups typically at Town Pub of Bloomfield or Verona Cafe. We play a mix of light to heavy games. We teach all games, and typically our regulars bring enough games so there is always a great selection. We play a mix of light filler games for newcomers/casual crowds (Ticket to Ride, Scout, Flip 7, For Sale) and mid-heavy games (Heat, Dune Imperium, El Grande) depending on interest and familiarity. No experience or need to bring games - we teach and bring enough to choose from!
		</p>
	</div>
</div>
