<div class="featured-event" id="townPub">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ Town Pub</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 378 Broad St, Bloomfield, NJ, 07003</p>
			<p><strong>WHEN:</strong> Thursday Evenings, ~twice a month</p>
			<p><strong>AUDIENCE:</strong> Adults(21+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/316729955389976" aria-label="Events">Montclair Area Board Gamers</a>
			</p>
		</div>
		<p class="featured-event-description">
			We host biweekly-ish meetups typically at Town Pub of Bloomfield or Verona Cafe. We play a mix of light to heavy games. We teach all games, and typically our regulars bring enough games so there is always a great selection. We play a mix of light filler games for newcomers/casual crowds (Ticket to Ride, Scout, Flip 7, For Sale) and mid-heavy games (Heat, Dune Imperium, El Grande) depending on interest and familiarity. No experience or need to bring games - we teach and bring enough to choose from!
		</p>
	</div>
</div>

<div class="featured-event" id="veronaInn">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ Verona Inn</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 624 Bloomfield Ave, Verona, NJ 07044</p>
			<p><strong>WHEN:</strong> When Town Pub is not available</p>
			<p><strong>AUDIENCE:</strong> Adults(21+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/316729955389976" aria-label="Events">Montclair Area Board Gamers</a>
			</p>
		</div>
		<p class="featured-event-description">
			We host biweekly-ish meetups typically at Town Pub of Bloomfield or Verona Cafe. We play a mix of light to heavy games. We teach all games, and typically our regulars bring enough games so there is always a great selection. We play a mix of light filler games for newcomers/casual crowds (Ticket to Ride, Scout, Flip 7, For Sale) and mid-heavy games (Heat, Dune Imperium, El Grande) depending on interest and familiarity. No experience or need to bring games - we teach and bring enough to choose from!
		</p>
	</div>
</div>

<div class="featured-event" id="playerAgency">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Gayme Night @ The Player Agency</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 5 Mead Street, South Orange, NJ 07079</p>
			<p><strong>WHEN:</strong> Mondays 6:00PM-10:00PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.theplayeragency.com/events" aria-label="Events">The Player Agency</a>
			</p>
		</div>
		<p class="featured-event-description">
			An inclusive evening of board games and fun. Bring a game or play one of ours. Bring some friends or make some new ones!!
		</p>
	</div>
</div>

<div class="featured-event" id="jag">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ Time Warp Comics and Games</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 555A Pompton Ave, Cedar Grove, NJ 07009</p>
			<p><strong>WHEN:</strong> 1st & 3rd Sundays 12:00PM-10:00PM</p>
			<p><strong>AUDIENCE:</strong> Adults(18+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/jag-jersey-association-of-gamers/" aria-label="Events">Jersey Association of Gamers</a>
			</p>
		</div>
		<p class="featured-event-description">
			Jersey Association of Gamers (JAG) is a group of adults who get together twice a month 
			to play board games including “euros”, war games, and “ameritrash”. 
			Our meetings are held at Time Warp Comics in Cedar Grove, NJ. 
			Game play usually starts soon after noon with a second round of gaming starting in the midafternoon. 
			During the fall of every year we ask members who attend meetings regularly to contribute ($20) 
			to cover the cost of JAG’s Meetup group subscription. 
			Thank you to the many members who have already contributed.
		</p>
	</div>
</div>