<div class="featured-event" id="abundantLivingChurch">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Community Board Game Night @ Abundant Living Church</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 849 NJ-54, Williamstown, NJ 08094</p>
			<p><strong>WHEN:</strong> Last FRIDAY, MONTHLY 6:00PM-11:00PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/SJGamingLeague/events" target="_blank" aria-label="Events">South Jersey Board Gaming League</a>
			</p>
		</div>
		<p class="featured-event-description">
			Join us for our monthly Board Game Night. You can bring your own friends and games and use one of our tables. Or you can come and join a game that we are hosting or play one from our constantly growing game library. There is always plenty of room and plenty of fun. Snacks are set out as well.
	</div>
</div>

<div class="featured-event" id="nerdMall">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games @ The Nerd Mall</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 164 S Broad St, Woodbury, NJ 08096</p>
			<p><strong>WHEN:</strong> SUNDAYS, WEEKLY 12:00PM-6:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly (13+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/gamersofthecherryhillarea/events" target="_blank" aria-label="Events">Gamers of the Cherry Hill Area (GOTCHA)</a>
			</p>
		</div>
		<p class="featured-event-description">
			Please sign up if you plan to attend as we try to plan our gaming to prevent late arrivals from having to spectate a game before playing.
			If you have questions look for Kyt, Jerry, or Don.
			Play something you like, play something old, play something new, meet other gamers, have some laughs.
			Group (and location) are LGBTQ+ friendly. We generally play 'modern' style board games.
			This includes both Eurogames and Amerithrash board games.
			But there are plenty of nostalgia games available as well if you can find some players.
			Feel free to bring some games and group up with other attendees.
			You can list what you'd like to play or bring in the comments section of our Meetup Group.
			Feel free to bring some longer games. We meet at Polsky's Corner (The Nerd Mall).
			Parking is available across the street in the Police parking lot (It is public) and on the street itself.
			Anyone under 16 requires adult supervision.
			Foul language may be used by members and some games have themes that may not be suitable for children.
			Seating at some events are limited, so please RSVP in advance and if your plans change then change your RSVP.
		</p>
	</div>
</div>