<div class="featured-event" id="abundantLivingChurch">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Community Board Game Night @ Abundant Living Church</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 849 NJ-54, Williamstown, NJ 08094</p>
			<p><strong>WHEN:</strong> One FRIDAY a month 6:00PM-11:00PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/SJGamingLeague/events" aria-label="Events">South Jersey Board Gaming League</a>
			</p>
		</div>
		<p class="featured-event-description">
			Join us for our monthly Board Game Night. You can bring your own friends and games and use one of our tables. Or you can come and join a game that we are hosting or play one from our constantly growing game library. There is always plenty of room and plenty of fun. Snacks are set out as well.
	</div>
</div>