<div class="featured-event" id="victoryPoint">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Game Night @ Victory Point</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 112 Brunswick St, Jersey City, NJ 07302</p>
			<p><strong>WHEN:</strong> Wednesdays 6:00PM-11:00PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.victorypointjc.com/calendar" aria-label="Events">Victory Point Games</a>
			</p>
		</div>
		<p class="featured-event-description">
			Visit organizer's website for more information.
		</p>
	</div>
</div>