<div class="featured-event" id="itHappensPanera">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Boardgame Night @ Panera</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 325 US-202, Flemington, NJ 08822</p>
			<p><strong>WHEN:</strong> Every other Tuesday 6:30PM-9:30PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/it-happens/events/" aria-label="Events">It Happens! Meetup Group</a>
			</p>
		</div>
		<p class="featured-event-description">
			*** We ask that only those that are fully immunized against Covid-19 join us. ***
			We will use a few of the tables at the Panera to play some board games! I will bring some of my favorite games to teach or play and if you have a favorite bring it along! We will start with a larger group game and then we may split off into smaller games as the night goes on. Since this meet up will be taking place at a Panera, please respect their rules and please consider purchasing either a meal or beverage so we will be welcome for future meet ups! I look forward to seeing you all their!
		</p>
	</div>
</div>