<div class="featured-event" id="round2gaming">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Family Board Game Night @ Round 2 Gaming</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 3320 US Highway, 1 Quakerbridge Mall Unit 256, Lawrenceville, NJ 08648</p>
			<p><strong>WHEN:</strong> Saturdays 4:30PM–9:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://round2gaming.com/event-calendar/" aria-label="Events">Round 2 Gaming</a>
			</p>
		</div>
		<p class="featured-event-description">
			Spend time with your family and friends playing board games at Round 2 Gaming!  Use any of our demo games in the store or bring your own!  The event is Free and we have plenty of games for all ages.
		</p>
	</div>
</div>







