<div class="featured-event" id="round2gaming">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Family Board Game Night @ Round 2 Gaming</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 3320 US Highway, 1 Quakerbridge Mall Unit 256, Lawrenceville, NJ 08648</p>
			<p><strong>WHEN:</strong> Saturdays 4:30PM-9:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://round2gaming.com/event-calendar/" aria-label="Events">Round 2 Gaming</a>
			</p>
		</div>
		<p class="featured-event-description">
			Spend time with your family and friends playing board games at Round 2 Gaming!  Use any of our demo games in the store or bring your own!  The event is Free and we have plenty of games for all ages.
		</p>
	</div>
</div>

<div class="featured-event" id="pbgOnTheCasual">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Games on the Casual @ Panera</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 510 Nassau Park Blvd, Princeton, NJ 08540</p>
			<p><strong>WHEN:</strong> Wednesdays 7:00PM-10:00PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/princetonbgc/events/" aria-label="Events">Princeton Board Games on the Casual</a>
			</p>
		</div>
		<p class="featured-event-description">
			The drinks are good, the tables are big and empty, and the people are friendly. You're welcome to bring your own game or join one on someone else's, we always have plenty. If you're a veteran gamer, you'll find plenty of company. If you're brand new or just want to expand your horizons, you'll find that everyone is excited to include and teach new players. If you're not sure where to start, look for me, Scott, or Jess, and we can help you find a game we think you'll enjoy. We usually have about 25-35 people each week, so there's always a game looking for a new player! PLEASE NOTE: We do not meet when Panera is Closed (i.e. Christmas, New Years, etc.) Always check our Meetup Page for the official event.
		</p>
	</div>
</div>