<div class="featured-event" id="oldBridgeLibrary">
	<div class="featured-event-media">
		<img src="https://drive.google.com/thumbnail?id=1HvsaLCf-8UCDPbAm1_CCB2ZJ_4MHiZ8E&sz=w1000" alt="Event banner">
	</div>
	<div class="featured-event-content">
		<h3 class="featured-event-name">Boardgame Club @ Old Bridge Public Library</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 1 Old Bridge Plaza, Old Bridge, NJ 08857</p>
			<p><strong>WHEN:</strong> Once a month, Saturday 10:00AM-4:30PM or Sunday 12:00PM-4:30PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/monmouthboardgameenthusiasts/events" aria-label="Events">Monmouth Boardgame Enthusiasts</a>
			</p>
		</div>
		<p class="featured-event-description">
			A Modern Tabletop Gaming Event. We will have beginner games like Catan, Sushi Go!, Splendor, Carcassonne, Ticket to Ride, & Codenames, as well as some slightly more advanced games like Wingspan and Everdell. For people familiar with the hobby, feel free to bring your own games if you'd like. If you don't know how to play a game, we'll teach you! For an idea of what modern tabletop games are, you can check out this short documentary <a href="https://youtu.be/DYedXMq-R6I" aria-label="Events">The Board Game Boom</a> on YouTube. You should not expect to see anything mainstream like Monopoly, Scrabble, Boggle, Risk, Battleship, Yahtzee, or Poker. This is also not a Dungeons and Dragons, Magic, Warhammer, or other niche event. Anyone age 14 and up who is interested in playing great games with great people! Age 8 and up if accompanied by a participating adult and able to learn & play age 8+ games.
		</p>
	</div>
</div>

<div class="featured-event" id="illustrious">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Board Game Night @ Illustrious</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 45 Lafayette Rd, Fords, NJ 08863</p>
			<p><strong>WHEN:</strong> Wednesdays 6:00PM-9:50PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/boardgamesnj/events/" aria-label="Events">Boardgames NJ Meetup Group</a>
			</p>
		</div>
		<p class="featured-event-description">
			"RSVP REQUIRED!!!
			Game players under the age of 18 must be accompanied by an adult!
			New members must fill out a profile when applying to Boardgames NJ
			Games will vary depending upon what members decide to bring. If you want to play something specific, bring it with you or request it with your RSVP or leave a comment. Beginners and experts alike are welcome. If you're a new player, please see a host if you need help to find a seat at a game. We have a limit of 25, so please RSVP each time you plan to attend. The owners of the store have an event running on the same night so they asked for a headcount from us to make sure they have enough space. So please RSVP as soon as you know you can attend. Gaming starts at 6 p.m. and ends at 9:50 p.m. The owners sell snacks and drinks and they are fine with food in the store, so feel free to bring your own food or grab something from the Italian/Mexican restaurant next door and bring it back to the store to eat!"
		</p>
	</div>
</div>