<div class="featured-event" id="holyInnocents">
	<div class="featured-event-content">
		<h3 class="featured-event-name">BoardgamesNJ @ Holy Innocents Spiritual Center</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 3455 W Bangs Ave, Neptune City, NJ 07753</p>
			<p><strong>WHEN:</strong> ~One Friday a month 5:00PM - 10:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/boardgamesnj/" aria-label="Events">Boardgames NJ Meetup Group</a>
			</p>
		</div>
		<p class="featured-event-description">
			Todd has arranged for space in the Holy Innocents Spiritual center for a gathering of gamers, and has kindly welcomed BoardgamesNJ to join in the fun. End time is flexible, and feel free to arrive anytime after 5 pm. If you'd like to bring some yummies to share, please do! Pizza will be available. A donation box will be available to help buy pizza for the next one! Come one, come all!
		</p>
	</div>
</div>

<div class="featured-event" id="sourceBrewing">
	<div class="featured-event-media">
		<img src="https://drive.google.com/thumbnail?id=1Ajy9-CcgtsxLJNpr8bv0l594xXwqea4i&sz=w1000" alt="Event banner">
	</div>
	<div class="featured-event-content">
		<h3 class="featured-event-name">Beers & Board Games @ Source Brewing</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 300 RT-34, Colts Neck, NJ 07722</p>
			<p><strong>WHEN:</strong> Once a month on Friday Night or Saturday afternoon</p>
			<p><strong>AUDIENCE:</strong> Adults (21+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/monmouthboardgameenthusiasts/events" aria-label="Events">Monmouth Boardgame Enthusiasts</a>
			</p>
		</div>
		<p class="featured-event-description">
			Meet at Source Brewing in Colts Neck to share some beers and board games, 21+ only. It would be great to see you there! We usually play more casual games that are under 90 minutes and easy to learn. Great way to break into board gaming for newer folks. Enjoy a board game with the brewery drinks. No outside beverages (including water bottles), they have water and seltzers for non-alcoholic options. BYO Food: bring lunch or snacks.
		</p>
	</div>
</div>

<div class="featured-event" id="lumenChess">
    <div class="featured-event-media">
        <img src="https://lumenchess.com/picture4-min.jpg" alt="Event banner">
    </div>
    <div class="featured-event-content">
        <h3 class="featured-event-name">Lumen Chess Strategy Club</h3>
        <div class="featured-event-meta">
            <p><strong>WHERE:</strong> <a href="https://maps.app.goo.gl/QWY4Bk6YrcHgJ6eh6">Holmdel Library in BellWorks</a></p>
            <p><strong>WHEN:</strong> Weekly on Thursday evenings from 5p-8p</p>
            <p><strong>AUDIENCE:</strong> Family Friendly</p>
            <p><strong>CATEGORY:</strong> Chess</p>
            <p><strong>ORGANIZER:</strong>
                <a href="https://lumenchess.com/" aria-label="Events">Lumen Chess Strategy Club</a>
            </p>
        </div>
        <p class="featured-event-description">
            Lumen Chess Club meets at Holmdel Public Library in BellWorks. Open to all skill levels, from beginners to advanced players. Join us for friendly games, learning opportunities, and chess-related activities. A great way to connect with fellow chess enthusiasts in the community.
        </p>
    </div>
</div>
