<div class="featured-event" id="tipsyMeeple">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Game Night @ Wegmans</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 34 Sylvan Way, Parsippany-Troy Hills, NJ 07054</p>
			<p><strong>WHEN:</strong> Mondays 6:00PM-11:00PM</p>
			<p><strong>AUDIENCE:</strong> Adults(18+)</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/thetipsymeeple/" aria-label="Events">The Tipsy Meeple</a>
			</p>
		</div>
		<p class="featured-event-description">
			Whether you're looking for something new and different, or you're a seasoned gamer, you'll find a friendly and welcoming bunch of friends to game with. We bring some of our games but feel free to bring your favorites, or, learn one of ours! Don't be shy about learning new games either, everyone is more than willing to teach new players! We encourage everyone to stay home if you are feeling ill and do your best to protect your fellow gamers. We want to make sure that everyone is safe, healthy, and included so please be respectful of your fellow players.
		</p>
	</div>
</div>