<div class="featured-event" id="oceanLanes">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Gaming @ Ocean Lanes</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 2085 Lanes Mill Rd, Lakewood, NJ 08701</p>
			<p><strong>WHEN:</strong> 1st WEDNESDAY, MONTHLY 7:00PM-10:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.facebook.com/groups/2359660137704909" target="_blank" aria-label="Events">Ocean County Boardgamers</a>
			</p>
		</div>
		<p class="featured-event-description">
			A bunch of knuckleheads whose gaming preferences span an eclectic range of games from Euros to co-ops to Ameritrash. We usually wrap up around 10:00, maybe a bit later.</p>
	</div>
</div>
