<div class="featured-event" id="ihop">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Gaming @ IHOP!</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 680 NJ-3, Clifton, NJ 07012</p>
			<p><strong>WHEN:</strong> Wednesdays 6:00PM-9:00PM</p>
			<p><strong>AUDIENCE:</strong> Check with Organizer</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/fun-and-games-meetup-tenafly-northern-new-jersey-nj/" aria-label="Events">Fun & Games MeetUp</a>
			</p>
		</div>
		<p class="featured-event-description">
			Visit organizer's website for more information.
		</p>
	</div>
</div>