<div class="featured-event" id="branchburgShoprite">
	<div class="featured-event-content">
		<h3 class="featured-event-name">Game Night @ Shoprite</h3>
		<div class="featured-event-meta">
			<p><strong>WHERE:</strong> 3166 U.S. 22, Branchburg, NJ 08876</p>
			<p><strong>WHEN:</strong> Mondays 6:00PM - 11:00PM</p>
			<p><strong>AUDIENCE:</strong> Family Friendly</p>
			<p><strong>CATEGORY:</strong> General</p>
			<p><strong>ORGANIZER:</strong>
				<a href="https://www.meetup.com/boardgamesnj/events/" aria-label="Events">Boardgames NJ Meetup Group</a>
			</p>
		</div>
		<p class="featured-event-description">
			Game players under the age of 18 must be accompanied by an adult!
			New members must fill out a profile when applying to Boardgames NJ
			This meetup is held at the Shoprite along Hwy 22 in Branchburg. We meet in the food court tables, which is hidden in the far back by the deli. This will be on the left side in the far back when you enter Shoprite. It's our Monday Game Night! Join us to play a variety of Euro games! Games will vary depending upon what members decide to bring. If you want to play something specific, bring it with you or request it in your RSVP. Beginners and experts alike are welcome. Gaming starts at 6:00 p.m. and usually ends close to 11:00 p.m. (closing time). Most of the regulars never RSVP, so even if it looks like only a few people are coming we always have enough people to play a few games (usually 10-12 people)."		</p>
	</div>
</div>