---
layout: default
---

<script src="{{ '/assets/js/caltest.js' | relative_url }}" defer></script>
<link rel="stylesheet" href="{{ '/assets/css/calendar.css' | relative_url }}">

<!-- CALENDAR TESTING -->
<section id="events" data-months-into-future="12" data-calendar-id="0f77508d3a3cbe65c912e8223136e9c6acf0058af3dce6896b3abdfcd176e061@group.calendar.google.com">
    <h2>Calendar Test Page</h2>
    <div id="loading">Loading events...</div>
    <div id="error" style="display:none; color:red;"></div>
    <div id="events-container"></div>
</section>

<!-- FEATURED -->
<section id="featured">
    <h2>FEATURED EVENTS</h2>
    <p>
        We highlight <strong class="attention">regularly occurring, board gaming events that are
        free and open to the general public</strong>. To learn more about what it means to be featured, visit our <a href="{{ '/faq/#what-are-featured-events' | relative_url }}">FAQ page</a>.
        We are not directly involved with these events or organizers. If you find any information is inaccurate,
        please <a href="mailto:info@njboardgames.com" aria-label="Email">contact us</a>.
    </p>

    <div class="featured-event" id="PLACEHOLDER">
        <div class="featured-event-content">
            <h3 class="featured-event-name">PLACEHOLDER</h3>
            <div class="featured-event-meta">
                <p><strong>WHERE:</strong> PLACHOLDER</p>
                <p><strong>WHEN:</strong> PLACHOLDER</p>
                <p><strong>AUDIENCE:</strong> PLACEHOLDER</p>
                <p><strong>CATEGORY:</strong> General</p>
                <p><strong>ORGANIZER:</strong>
                    <a href="PLACHOLDER" target="_blank" aria-label="Events">PLACEHOLDER</a>
                </p>
            </div>
            <p class="featured-event-description">
                PLACHOLDER
            </p>
        </div>
    </div>

</section>

<div id="copy-toast">Link copied</div>
