---
layout: default
---

{% include nav-home.html %}

<!-- CAROUSEL -->
<div class="carousel">
    <div class="carousel-track">
        <img src="https://drive.google.com/thumbnail?id=1ECXwj82N6QOowmNMjoWgJIJI4miDCoLY&sz=w1000" alt="">
        <img src="https://drive.google.com/thumbnail?id=1A3ikyu4zp6XezTRT_iKukDpt6rG8CjdM&sz=w1000" alt="">
        <img src="https://drive.google.com/thumbnail?id=1tVdPn-1VMoCJiK6PIYFy5FEAv2IF8hio&sz=w1000" alt="">
        <img src="https://drive.google.com/thumbnail?id=1lJCZSeYXt_B45OYAq9wKfG2VfoZ9rkGF&sz=w1000" alt="">
        <img src="https://drive.google.com/thumbnail?id=1pbwb6tFiJ_3xY7ZB_cG84XcHZFgOJFAO&sz=w1000" alt="">
        <img src="https://drive.google.com/thumbnail?id=11p5_-GacAOviv3TNn4WGP6JFOHrV14Jh&sz=w1000" alt="">
        <img src="https://drive.google.com/thumbnail?id=1Xof6OjIlOWU5sZz4cpDy7cMuRtbUhE2l&sz=w1000" alt="">
    </div>
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
</div>

{{ content }}

{% include connect.html %}
